.container {
    @apply mx-auto max-w-7xl px-2;
}

@media (min-width: 640px) {
    .container {
        @apply px-6;
    }
}

@media (min-width: 1024px) {
    
    .container {
        @apply px-8;
    }
}

/* COLORS TAGS */
.blue{
    background: rgba(0, 0, 255, 0.266);
}
.red{
    background: rgba(255, 0, 0, 0.278);
}
.yellow{
    background: rgba(255, 255, 0, 0.515);
}
.green{
    background: rgba(255, 0, 0, 0.3);
}
.indigo{
    background: rgba(76, 0, 130, 0.257);
}
.purple{
    background: rgba(128, 0, 128, 0.316);
}
.pink{
    background: rgba(255, 192, 203, 0.255);
}
.orange{
    background: rgba(255, 166, 0, 0.229);
}
.sienna{
    background: rgba(160, 81, 45, 0.386);
}

#style-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
	border-radius: 10px;
}

#style-scroll::-webkit-scrollbar
{
	width: 4px;
	background-color: black;
}

#style-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #4c1d95),
									   color-stop(0.72, #471197fd),
									   color-stop(0.86, #400697));
}


.nav-event-active{
    opacity: 0.10;
    transition: 1s;
    z-index: 99;
}

.nav-event-active:hover{
    opacity: 1;
}
